<h3>Carrito:</h3>
<table class="table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Portada</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Estado</th>
        <th scope="col">Plataforma</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pc of videojuegosCarrito">
        <th scope="row">{{pc.videojuego.id}}</th>
        <td><img class="imagen" src="server/imagenes/{{pc.videojuego.id}}.jpg"></td>
        <td>{{pc.videojuego.titulo}}</td>
        <td>{{pc.videojuego.precio}} &euro;</td>
        <td>{{pc.videojuego.estado}}</td>
        <td>{{pc.videojuego.plataforma}}</td>
        <td>{{pc.cantidad}}</td>
      </tr>
    </tbody>
</table>
<button (click)="vaciarCarrito()" class="btn btn-danger btn-lg me-2">VACIAR CARRITO</button>
<button (click)="realizarPedido()" class="btn btn-success btn-lg">REALIZAR PEDIDO</button>