<h3 class="mb-3">Listado de videojuegos</h3>
<div class="row gy-3">
    <div class="col-md-3" *ngFor="let v of info">
        <div class="card-sl">
            <div class="card-image">
                <img src="server/imagenes/{{v.id}}.jpg"/>
            </div>
            <div class="card-heading">
              {{v.titulo}}
            </div>
            <div class="card-text">
              {{v.descripcion}}
            </div>
            <div class="card-text">
              {{v.precio}} €
            </div>
            <a class="card-button" (click)="verDetalles(v)">Ver Detalles</a>
        </div>
    </div>
</div>  